{% extends "base.html" %}


{% block extra_head %}
    
{% endblock extra_head %}
        
 {% block content %}
 <div class= "container">
      <div class="row">
          <div class="col-lg-12"><h3> 42 Coffee Cups Test Assignment </h3> </div>
      </div>
               
                <div class="row">
                  {% if applicant %}
                     <form action="/home/editor_editor" method="post" > 
                     {% csrf_token %}
                     <div class="col-lg-5">
                          <ul class="list-unstyled">
                              <li> 
                                  {{ form.name.errors }}
                                  <label for="id_name">Name:</label> 
                                  {{ form.name }} 
                              </li>
                              <li>
                                 {{ form.surname.errors }}
                                 <label for="id_surname">Surname:</label>
                                 {{ form.surname }} 
                              </li>
                              <li> 
                                 {{ form.dateofdird.errors }}
                                 <label for="id_dateofbird">Date of Bird:</label>                                                                        
                                 {{ form.dateofbird }}
                              </li>
                              <li>
                              Photo:
                              </li>
                              <li>
                              <div style="width: 200px; height: 200px;  border: 2px
                              solid
                              black;" >
                              <img src="/media/evgen.png" width="200" height="200" alt ="Photo not found.">
                              </div>
                              </li>
                     </div>

                     <div class="col-lg-5">
                          <ul class="list-unstyled">
                          <li>Contacts </li>
                          <li>
                              {{ form.email.errors }}
                              <label for="id_email">Email:</label>
                              {{ form.email }} 
                          </li>
                          <li>
                              {{ form.jabber.errors }}
                              <label for="id_jaber">Jabber:</label>
                              {{ form.jabber }} 
                          </li>
                          <li>
                              {{ form.skype.errors }}
                              <label for="id_skype">Skype:</label>
                              {{ form.skype }} 
                          </li>
                          <li> 
                              {{ form.others.errors }}
                              <label for="id_others">Others:</label>
                              {{ form.others }} 
                          </li>
                          <li> 
                              {{ form.bio.errors }}
                              <label for="id_others">Bio:</label>
                              {{ form.bio }} 
                          </li>
                          </ul>

                          </ul>
                     </div>
                  {% else %}
                   <h3> Нажаль не знайдено жодного запису в таблиці! </h3>
                   <p>Хтось видалив усі записи.</p>
                  {% endif %}
                                                                     
                 </div>
              
              <div class="row">
                  <div class="col-lg-12">
                     <div style=" border-top: 2px solid black;"> 
                       <a href="/hello/requests" 
                        target="_blank">requests</a>
                     </div>     
                  </div>
              </div>  
      </div>  
    {% endblock content %}

