{% extends "base.html" %}


    {% block extra_head %}
         <link rel="stylesheet" href="/static/css/hello.css" media="screen,projection"/>
    {% endblock extra_head %}
        
    {% block content %}

             <div id="workspace">
                <h3> 42 Coffee Cups Test Assignment </h3>
                <div id="lcolumn">
                  <ul>
                      <li> <span id="sfields">Євген</span> </li>
                      <li> <span id="sfields">Анонімов</span> </li>
                      <li> <span id="sfields">March 9, 1973</span> </li>
                      <li> 
                          <div id="multiline">Bio:<br>Bio:<br>Працюю у сфері
                          телекомунікацій.<br>Використовую мови
                          програмування:<br>С &amp; Shell для написання
                          'серверних' програм під Linux (x86,armv7)<br>
                          Delphi для написання 'кліентських' программ під
                          Win32<br>PHP + JavaScript для написання 'тонких
                          кліентів' під WEB (LAMP)<br>Java вчив колись, але
                          вже не пам'ятаю і не використовую.<br>Python вчу
                          зараз, в процесі<br><br>Цікавить робота в
                          аутсорсінг фірмі, бажано розробником на
                          Python<br>у сфері WEB.</div>
                      </li>
                   </ul>
                </div>

                <div id="rcolumn">
                   <ul>
                       <li>Contacts</li>
                       <li>Email:<span id="sfields">jeyzth@gmail.com</span> </li>
                       <li>Jabber: <span id="sfields">jeyzth@khavr.com</span> </li>
                       <li>Skype: <span id="sfields">jeyzth</span></li>
                       <li> 
                           <div id="multiline">Other contacts:<br>Other
                           contacts:<br>т. +7(717)123456<br>м.
                           +7(707)1234567<br>м. +38(050)1234567</div>
                       </li>
                   </ul>
                 </div>
                 
              </div>
              



    {% endblock content %}
