{% extends "base.html" %}


{% block extra_head %}
    
{% endblock extra_head %}
        
 {% block content %}
 <div class= "container">
      <div class="row">
          <div class="col-lg-12"><h3> 42 Coffee Cups Test Assignment </h3> </div>
      </div>
               
                <div class="row">
                     {% if applicant %}
                     <div class="col-lg-5">
                          <ul class="list-unstyled">
                              <li> {{ applicant.name }} </li>
                              <li> {{ applicant.surname }} </li>
                              <li> {{ applicant.dateofbird }} </li>
                              <li>Bio:</li>
                              <li> 
                                {{ applicant.bio|linebreaksbr }}
                              </li>
                          </ul>
                     </div>

                     <div class="col-lg-5">
                          <ul class="list-unstyled">
                          <li>Contacts </li>
                          <li>
                            Email:
                             <span>{{ applicant.email }} </span> 
                          </li>
                          <li>
                              Jabber:
                              <span>{{ applicant.jabber }}</span>
                          </li>
                          <li>
                               Skype:
                               <span>{{ applicant.skype }}</span>
                          </li>
                          <li> 
                              Other contacts:
                          </li>
                          <li>
                               {{ applicant.others|linebreaksbr }}
                          </li>
                          </ul>
                     </div>
                 
                 {% else %}
                 <h3> Нажаль не знайдено жодного запису в таблиці! </h3>
                 <p>Хтось видалив усі записи.</p>
                 {% endif %}
                 </div>
              
              <div class="row">
                  <div class="col-lg-12">
                     <div style=" border-top: 2px solid black;"> 
                       <a href="/hello/requests10" 
                        target="_blank">requests</a>
                     </div>     
                  </div>
              </div>  
      </div>  
    {% endblock content %}

