{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Requests log</title>
        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, %projection"/>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" media="screen, %projection"/>        
        <link rel="stylesheet" href="{% static 'css/hello.css' %}" media="screen, %projection"/>        
        <link rel="stylesheet" href="{% static 'css/requests10.css' %}" media="screen, %projection"/>
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
         
              <table id="tbl">
              <tr> 
                  <th>Id</th>
                  <th> Date Time </th>
                   <th> Remote IP </th>
                  <th> Request </th>
              </tr>
              
              <tr id="tr1">
                  <td id="td-1">9</td> 
                  <td id="td-2">Sun Mar  6 19:27:59 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              <tr id="tr1">
                  <td id="td-1">8</td> 
                  <td id="td-2">Sun Mar  6 19:27:58 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              <tr id="tr1">
                  <td id="td-1">7</td> 
                  <td id="td-2">Sun Mar  6 19:27:57 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              <tr id="tr1">
                  <td id="td-1">6</td> 
                  <td id="td-2">Sun Mar  6 19:27:56 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              <tr id="tr1">
                  <td id="td-1">5</td> 
                  <td id="td-2">Sun Mar  6 19:27:55 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              
              
              <tr id="tr4">
                  <td id="td-1">4</td> 
                  <td id="td-2">Sun Mar  6 19:27:54 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              
              
              <tr id="tr3">
                  <td id="td-1">3</td> 
                  <td id="td-2">Sun Mar  6 19:27:53 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              <tr id="tr2">
                  <td id="td-1">2</td> 
                  <td id="td-2">Sun Mar  6 19:27:55 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              
              <tr id="tr1">
                  <td id="td-1">1</td> 
                  <td id="td-2">Sun Mar  6 19:27:55 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              
              <tr id="tr0">
                  <td id="td-1">0</td> 
                  <td id="td-2">Sun Mar  6 19:27:55 EET 2016</td> 
                  <td id="td-3">192.168.88.127</td>
                  <td id="td-4">http://192.168.88.129:8080</td> 
              </tr>
              
              
              </table>
        {% block content %}{% endblock content %}
    </body>
</html>
