{% extends "base.html" %}
    
    
{% block extra_head %}
        
{% endblock extra_head %}
            
{% block content %}
<div class= "container">


{% for rqst in last_requests_list %}    
{% if forloop.first %}
  <table class="table" id="tbl">
  <tbody>
      <tr> 
          <th>Id</th>
          <th>Date Time</th>
          <th>Remote IP</th>
          <th>Request</th>
      </tr>
{% endif %}
      <tr id="tr-"{{ forloop.counter }}>
         <td id="td{{ forloop.counter }}-1">{{ rqst.id}}</td> 
         <td id="td{{ forloop.counter }}-2">
         {{ rqst.query_dt|date:"d.m.Y H:i:s" }}</td> 
         <td id="td{{ forloop.counter }}-3">{{ rqst.remote_ip }}</td>
         <td id="td{{ forloop.counter }}-4">{{ rqst.query_string }}</td> 
     </tr>

{% if forloop.last%}         
  </tbody>
  </table>
{% endif %}  
{% empty %}
  <h4> Не знайдено жодного запису! </h4>
{% endfor %}  
  
</div>  
{% endblock content %}